.select {
  width: 70px;
  height: 32px;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 1rem;

  option {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 1rem;
  }
}
