.input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e6e6e6;
}

.input {
  width: 70px;
  height: 30px;
  border: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 1rem;
}

.sign {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
}

.invalid-error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -150px;
  top: 0;
  box-sizing: border-box;
  width: 150px;
  height: 32px;
  padding: 5px;
  background-color: lightgray;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
  color: red;
}
