.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
  margin: 0 auto;
}

h1 {
  color: #27aedb;
  text-align: center;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

.calculator {
  width: 60%;
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
  font-weight: 600;

  &__tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__input-data {
    padding: 20px;
  }
}

